@media (max-width: 640px) {
  .table-container { overflow-x: auto; }
  .table { min-width: 600px; } /* Adjust this as needed */
  /* Optional: smaller padding for table cells */
  .table th, .table td { padding: 0.5rem; }
}


/* Modal Overlay and Content Styles */
.modal-overlay {
    display: none;
  }
  
  .modal-overlay.active {
    display: flex;
  }
  
  /* Slide-Up Animation */
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Slide-Down Animation */
  @keyframes slide-down {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  /* Modal Content Animation */
  .modal-content {
    animation: slide-up 0.4s ease-out forwards;
  }
  
  .modal-content.hide {
    animation: slide-down 0.4s ease-out forwards;
  }
  
  /* Optional: Additional styling for the enlarged image view */
#carouselModal img {
    max-height: 80vh;
    object-fit: contain;
}